<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Tool Name</th>
				<th>Total Tool Quantity</th>
				<th>Tool Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @tool.toolName %></td>
				<td><%= @tool.totalQuantity %></td>
				<td><%= @tool.description %></td>
			</tr>		
</tbody>
<div>