<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Add Notes</button>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel2">Add Note</h4>
      </div>
      		<%= form_for ([@ceremony, Ceremonynote.new]) do |f| %>
		<%= f.hidden_field :ceremony_id, :value => @ceremony.id %>

      <div class="modal-body">
          <div class="form-group">
            <h5>Notes:</h5>
		    <%= f.text_area :ceremonyNotes, cols: "80", rows: "3" %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit(Ceremonynote.new ? "Create" : "Edit Note", class: "btn btn-default") %>
		<% end %>
      </div>
    </div>
  </div>
</div>
<div>


<script>
    $('#exampleModal2').modal('show');
  $(window).load(function(){
        $('#exampleModal2').modal('hide');
    });
</script>