<%= render 'shared/page_title', title: "All Projects without a Site" %>
<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Organization Name</th>
				<th>Project Location</th>
				<th>Yearly Participants</th>
				<th>If Canceled</th>
				<th>Start Date</th>
				<th>Actions</th>
			</tr>
		</thead>
  <%= render @projects %>
  	</table>
</div>
