<% if @projects.present? %>
<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				<th>Site Street</th>
				<th>Cross-Streets</th>
				<th>County</th>
				<th>Zip Code</th>
				<th>City Ward Number</th>
				<th>County District</th>

			</tr>
		</thead>
  <%= render @projects %>
  	</table>
</div>
<% else %>
  <p>There are no new Project requests at this time.</p>
<% end %>