<li><%= link_to "Create a new Ceremony", new_project_ceremony_url(@project) %></li>
<li><%= link_to "Assign a Site to the Project", new_project_assign_path(@project) %></li>
<li><%= link_to "Submit a new Report for a Project", new_project_report_path(@project) %></li>